<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-view title="event.title">
  <ion-content has-header="true" padding="true">
    <div class="list">
    	<div ng-repeat="cost in event.costs" class="item">
    		<h2>{{cost.person}}</h2>
    		<p>{{cost.title}}</p>
    		<span class="badge badge-assertive">{{cost.cost}}</span>
    	</div>
    </div>
    <p><a class="button button-small icon ion-arrow-left-b" href="#/splitters"> All Splitters</a></p>
  </ion-content>
</ion-view>
