<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.aaccurso.costsplitter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CostSplitter</name>
    <description>
        A simple application to split costs of an event among a group of people.
    </description>
    <author email="accurso.alan@gmail.com" href="http://aaccurso.github.io/">
        Alan Accurso
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="org.apache.cordova.facebook.Connect">
        <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
    </feature>
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
