html, body {
	font-family: 'The Girl Next Door';
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.nav-bar h1 {
	font-family: 'Condiment';
	font-weight: bold;
	font-size: 1.5em;
}

.button.add-event {
	top: 2px;
	right: 1px;
}
