html, body {
	font-family: 'The Girl Next Door';
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.nav-bar.bar.bar-header .title {
	font-family: 'Condiment';
	font-size: 2em;
	line-height: 47px;
}

.button.add-event {
	top: 2px;
	right: 1px;
}

.currency {
	font-family: sans-serif;
}
