/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.button.button-menu {
	padding: 0 6px;
}
.button.button-menu::before {
	font-size: 1.8em;
}

.button.add-event {
	top: 2px;
	right: 1px;
}
