/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.nav-bar h1 {
	font-weight: bold;
}

.button.add-event {
	top: 2px;
	right: 1px;
}
