@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alan\/DevProjects\/CostSplitter\/www\/css\/_test\.scss}line{font-family:\000031}}
.test {
  color: green;
  border-radius: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alan\/DevProjects\/CostSplitter\/www\/css\/_app\.scss}line{font-family:\000031}}
.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alan\/DevProjects\/CostSplitter\/www\/css\/_app\.scss}line{font-family:\000038}}
.nav-bar h1 {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alan\/DevProjects\/CostSplitter\/www\/css\/_app\.scss}line{font-family:\0000312}}
.button.add-event {
  top: 2px;
  right: 1px;
}
